* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS VARIABLES */

:root {
  --bg: #e4e4e4;
  --color-orange: #ff5c00;
  --color-white: #ffffff;
  --bg-gradient: linear-gradient(123.75deg, #f5821f 1.87%, #ff5c00 120.46%);
}

/* CSS */

body {
  font-family: "DM Sans", sans-serif;
  height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
}
.doneBY {
  position: absolute;
  top: 1rem;
}
.doneBY > h1 {
  color: var(--color-orange);
  font-size: 5rem;
}
.doneBY > p {
  color: var(--color-orange);
  font-size: 1.5rem;
}

.chatBotIcon {
  background: var(--bg-gradient);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  width: 67px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chatClick {
  cursor: pointer;
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  z-index: 10;
}
.chatBot {
  width: 416px;
  min-height: 629px;
  background: var(--color-white);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
  border-radius: 18px;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 300ms linear;
}
.chatInfo {
  width: 60%;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  position: relative;
  top: 1rem;
  left: 3rem;
  color: var(--color-white);
  opacity: 0;
  transition: opacity 800ms linear;
}
.chatInfo > h2 {
  font-weight: 700;
  line-height: 39px;
  font-size: 30px;
}
.chatInfo > p:nth-child(2) {
  font-weight: 700;
  line-height: 42px;
  font-size: 22px;
  display: flex;
  align-items: center;
}
.chatInfo > p:nth-child(2) > img {
  padding-left: 1rem;
}
.chatInfo > p:nth-child(3) {
  font-weight: 500;
  font-size: 18px;
}
.contentBg {
  width: 416px;
  height: 278px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  opacity: 0;
  transition: opacity 800ms linear;
  background: var(--bg-gradient);
}

.contentBot {
  position: relative;
  top: 2rem;
  left: 2rem;
  z-index: 2;
  opacity: 0;
  transition: opacity 500ms linear;
}
.floatingSection {
  width: 390px;
  height: 400px;
  background: var(--color-white);
  border: 1px solid var(--bg);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  position: relative;
  left: 50%;
  opacity: 0;
  transition: opacity 500ms linear;
  transform: translate(-50%);
}
.messages {
  position: relative;
  top: 3rem;
  width: 88%;
  margin: auto;
}
.qn {
  margin: 0rem 0.5rem 0rem 0.5rem;
}
.heading {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
}

.dot {
  margin: 0rem 0.5rem 0rem 0.5rem;
}
.preQn {
  width: 340px;
  height: 50px;
  background: var(--color-white);
  border: 1px solid #e1e1e1;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  color: #2d2d2d;
  font-size: 12px;
}
.fadein1 {
  opacity: 0;
  transition: opacity 800ms linear;
}
.fadein2 {
  opacity: 0;
  transition: opacity 800ms linear;
}
.fadein3 {
  opacity: 0;
  transition: opacity 800ms linear;
}
.fadein4 {
  opacity: 0;
  transition: opacity 800ms linear;
}

.conversation {
  width: 268px;
  height: 44px;
  background: var(--color-white);
  border: 1px solid #d1d1d1;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  top: 5rem;
  left: 50%;
  opacity: 0;
  transition: opacity 800ms linear;
  transform: translate(-50%);
}
.conversation > img {
  padding: 0 5px 0 5px;
}

/* ACTIVE CLASSES */

.chatActive {
  position: fixed;
  transform: translateY(-4rem);
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  transition: all 300ms linear;
}

.contentBgActive {
  opacity: 1;
  transition: opacity 800ms linear;
  transition-delay: 1s;
}
.chatInfoActive {
  opacity: 1;
  transition: opacity 800ms linear;
  transition-delay: 2s;
}
.floatingSectionActive {
  opacity: 1;
  transition: opacity 800ms linear;
  transition-delay: 3s;
}
.fadeinActive1 {
  opacity: 1;
  transition: opacity 800ms linear;
  transition-delay: 5s;
}
.fadeinActive2 {
  opacity: 1;
  transition: opacity 800ms linear;
  transition-delay: 7s;
}
.fadeinActive3 {
  opacity: 1;
  transition: opacity 800ms linear;
  transition-delay: 9s;
}
.fadeinActive4 {
  opacity: 1;
  transition: opacity 800ms linear;
  transition-delay: 11s;
}
.conversationActive {
  opacity: 1;
  transition: opacity 800ms linear;
  transition-delay: 12s;
}

/* MEDIA QUERIES */

@media screen and (max-width: 460px) {
  .chatBot {
    width: 100%;
    height: 640px;
    position: fixed;
    bottom: 4rem;
    right: 0rem;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 300ms linear;
  }
  .contentBg {
    width: 100%;
    height: 278px;
  }
  .floatingSection {
    width: 95%;
    height: 400px;
  }
  .preQn {
    width: 100%;
    height: 50px;
  }
  .chatActive {
    position: absolute;
    transform: translateY(-2rem);
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
    transition: all 200ms linear;
  }
}
